In [1]:
#pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-py2.py3-none-any.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-py2.py3-none-any.whl (372 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 373.0/373.0 kB 2.4 MB/s eta 0:00:00a 0:00:01
WARNING: Error parsing requirements for sniffio: [Errno 2] No such file or directory: '/Users/arthimurali/anaconda3/envs/imporh/lib/python3.8/site-packages/sniffio-1.3.0.dist-info/METADATA'
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
import mysql.connector

In [16]:
mydb = mysql.connector.connect(
    host="localhost",
    user="arthi",
    password="arthi123",
    database="order_db"
)

In [17]:

mycursor = mydb.cursor()

In [18]:
create_table_users = """
        CREATE TABLE user_orders (
            s_no INT PRIMARY KEY AUTO_INCREMENT,
            username VARCHAR(50) NOT NULL UNIQUE,
            password VARCHAR(255) NOT NULL,
            users_name VARCHAR(100) NOT NULL,
            order_details TEXT NOT NULL,
            payment_mode ENUM('Credit Card', 'Debit Card', 'PayPal', 'Bank Transfer', 'UPI') NOT NULL,
            payment_status ENUM('Paid', 'Pending', 'Failed', 'Cancelled') NOT NULL DEFAULT 'Pending',
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
        )
        """

In [ ]:
mycursor.execute(create_table_users)

In [21]:
sql = "INSERT INTO user_orders (username, password, users_name, order_details, payment_mode, payment_status) VALUES (%s, %s, %s, %s, %s, %s)"
val = ("farah", "hashed_pass456", "Sarah Wilson", "Smartphone - iPhone 15", "Cash_on_delivery", "Pending")


mycursor.execute(sql, val)
mydb.commit()

DatabaseError: 1265 (01000): Data truncated for column 'payment_mode' at row 1

In [6]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('user_orders',)

In [8]:
mycursor.execute("Select payment_mode from user_orders where payment_mode = 'Cash_on_Delivery' ")

In [13]:
myresult = mycursor.fetchall()


print(myresult)

[]

In [ ]:
Invalid ENUM value: 'Cash_on_Delivery' for column 'payment_mode'